.btn {
  background: $colorPinkVerySweet;
  color: black;
  cursor: pointer;
  transition: 0.2s;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: $borderRadius;

  &:hover {
    animation: both 1ms;
    background: $colorPink;
    color: white;
    font-weight: bold;
    box-shadow:inset 10px 10px 20px rgba(212, 227, 243, 0.5);
  }
  &_createPost {
    margin-top:20px;
  }
}

.buttonReturn {
  display:flex;
  align-self: flex-start;
}