.container {
  background:linear-gradient(to top left,$colorBlue, $colorPink);
  border-radius: $borderRadius;
  width:100%;
  user-select: none;
  text-align: center;
  box-shadow: inset 10px 10px 15px rgba(0, 22, 44, 0.5);
}

.form {
    padding: 20px;
    width:100%;
    &_title {
      color:white;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom:20px;
    }
    &_feed {
      margin: 40px 0 40px 0;
    }
    &_profil {
      margin-bottom:50px;
    }
    &_label {
      color: white;
      padding-bottom: 20px;
    }
    input {
      padding: 10px 14px;
      font-size: 1.2rem;
      border-radius: 20px;

      &:focus {
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
      }
    }
}