$colorPink: #f05454;
$colorBlue: #30475e;
$colorDarkBlue: #222831;

$colorPinkSweet: #ff7b77;
$colorPinkVerySweet: #ffd0c4;
$colorVeryDarkBlue: rgb(0, 22, 44);

$shadow: rgb(219, 218, 218);

$borderRadius:50px;

